@include border-box-sizing; //uses border box sizing like the old IE

$susy: (
  columns: 12,
  container: 60em,
  gutter-position: inside
);

$narrow: 400px;
$small: 650px;
$medium: 960px;
$wide: 1200px;


//Add Color Palette
$blue       : #1270C8;
$green      : #45B29D;
$yellow     : #EFC94C;
$orange     : #F69627;
$red        : #DF4848;
$pink       : #CD0069;
$purple     : #6C71C4;
$dark       : #000000;
$light      : #FFFFFF;

$backgroundColor    : $light;
$typeDefault        : $dark;
$navBackground      : $blue;
$navForeground      : $light;
$navHover           : $orange;
$navBrandBg         : $orange;
$headersubbg        : $dark;

//Font variables 'Exo 2', 'Helvetica Neue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$fontfamily     	: 'Roboto', sans-serif;
$headfontfamily		: 'Slabo 27px', serif;

$thin     : 300;
$normal   : 400;
$bold     : 600;
$heavy    : 800;

$headFont2  : $thin 1.5em/1.5em $fontfamily;
$headFont  :  $normal 1em/1.5em $headfontfamily;
$mainFont   : $normal 1.0em/1.5em $fontfamily;
$headColor  : lighten($blue, 20);
$headColor2 : $orange;

