.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }

.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('../images/misc/loading.gif') center no-repeat #fff;
 }

header {
  .fullheight {
    @include backImage('../images/school/graduation.jpg');
    width: 100%;
    height: 100%;

    @include display-flex();
    @include align-items(flex-end);
    @include justify-content(flex-end);

    .hgroup {
      padding: 25px 0;

      h1 {
        color: $light;
        font-size: 3em;
        line-height: .8em;
        text-align: center;


      } //h1

      h2 {
        color: $light;
        display: block;
        font-family: $headfontfamily;
        font-size: 1.5em;
        line-height: 120%;
        width: 90%;
        margin: 0 auto;
        margin-top: 0px;
        padding: 10px;
        text-align: center;
        @include text-shadow($dark 0 0 40px);
        
        @include breakpoint($medium) {
          width: 70%;
          font-size: 2.2em;
        }

                
      } //h2

      img#player {
      display: block;
      max-width: 25px;
      cursor: pointer;
      margin: 0 auto;
      padding-top: 5px;

      @include breakpoint($medium) {
        max-width: 30px;
      }
      }

      p {
        @include clearfix;
        text-align: center;
        font-size: 1.1em;
        color: $light;
        padding: 5px 0;
        width: 80%;
        margin: 0 auto;
        @include text-shadow($dark 0 0 40px);
        img {
             max-width: 35px;
             cursor: pointer;
        } //img

        @include breakpoint($medium) {
          width: 70%;
          font-size: 1.3em;
          img {
             max-width: 55px;
          }
        }


      } //p
    } //hgroup
  } //fullheight
} //header