header {
  .fullheight {
    @include backImage('../images/school/graduation.jpg');

    @include display-flex();
    @include align-items(flex-end);
    @include justify-content(flex-end);

    .hgroup {
      padding: 25px 0;

      h1 {
        color: $light;
        font-size: 3em;
        line-height: .8em;
        text-align: center;


      } //h1

      h2 {
        color: $light;
        display: block;
        font-family: $headfontfamily;
        font-size: 1.5em;
        line-height: 120%;
        width: 90%;
        margin: 0 auto;
        margin-top: 15px;
        padding: 10px;
        text-align: center;
        @include text-shadow($dark 0 0 40px);
        
        @include breakpoint($medium) {
          width: 70%;
          font-size: 2.2em;
        }

                
      } //h2

      p {
        @include clearfix;
        text-align: center;
        font-size: 1.1em;
        color: $light;
        padding: 5px 0;
        width: 80%;
        margin: 0 auto;
        @include text-shadow($dark 0 0 40px);
        img {
             max-width: 55px;
        } //img

        @include breakpoint($medium) {
          width: 70%;
          font-size: 1.3em;
        }


      } //p
    } //hgroup
  } //fullheight
} //header