#theproblem {
        
    div#students {  

    @include backImage2('../images/school/students.jpg');
    
    margin: 25px 0;

    @include display-flex();
    @include align-items(center);
    @include justify-content(center);



    } //students

    section.twocharts {
       @include clearfix;
       section.chart {
       
       @include breakpoint($medium){
         @include gallery(5 of 10);
         display: inline;
         }
       }
    h2.charttitle{
    text-align: center;
    font-weight: $normal;
    font-size: 125%;
    padding: 5px 0;
    line-height: 110%;
  }
    }

    section.onechart {
    @include clearfix;

      @include breakpoint($medium){
        @include container(60%);    
      }//breakpoint

    }section.onechart

  h2.charttitle{
    text-align: center;
    font-weight: $normal;
    font-size: 125%;
    padding: 5px 0;
    line-height: 110%;
  }

  h3.chartsubtitle{
    color: $dark;
    font:  $mainFont;
    text-align: center;
    font-weight: $normal;
    font-size: 110%;
    padding: 10px 0;
    line-height: 110%;
  }
} //theproblem
