#thesolution {

button {
    background:none!important;
     border:none; 
     padding:0!important;
    /*border is optional*/
     cursor: pointer;
     font: $mainFont;
     font-size: 85%;
     color: -webkit-link;
}

ul {
	display: none;
}

section#modelchart {
	 @include backImage3('../images/misc/elevatemodel.png');
	 height: 600px;
}

}