#welcome {
@include container;

    @include display-flex();
    @include align-items(center);
    @include justify-content(center);

#{headings()} {
  text-align: center;
}

  h1 {
     font-size: 4em;
     @include breakpoint($medium){
     font-size: 7em;
     }
  } //h1

  h2 {
    font-size: 1.8em;
    @include breakpoint($medium){
    font-size: 3em;
     }
  }
  
  p {
    text-align: center;
  img {
        padding-top: 10x;
        max-width: 55px;
        @include breakpoint($medium){
          padding-top: 30px;
          max-width: 75px;
          }
        } //img
  }//p
}//welcome